<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607896113360-plrs3dpo467ibs11df5ueg3l713ct9cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607896113360-plrs3dpo467ibs11df5ueg3l713ct9cv</string>
	<key>API_KEY</key>
	<string>AIzaSyDe_iXGGyvMG7wgPQ5qhe2XdPxSjc9jPdI</string>
	<key>GCM_SENDER_ID</key>
	<string>607896113360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trade.Burdens</string>
	<key>PROJECT_ID</key>
	<string>burdnes</string>
	<key>STORAGE_BUCKET</key>
	<string>burdnes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607896113360:ios:a819141b6363fe4f844ed5</string>
</dict>
</plist>